/*! 
// ===========================================================
// 自定义样式
// ===========================================================
*/

/*标题*/
.entry-title,
.entry-title a {
  color: #FF810D;
  font-size: 2.5rem;
}
/*标题模仿mac dock跳动*/
@-webkit-keyframes envelope_top { 
	0%{-webkit-transform:translateY(0px);}
	10%{-webkit-transform:translateY(-5px);} 
	20%{-webkit-transform:translateY(-10px);} 
	30%{-webkit-transform:translateY(-5px);} 
	40%{-webkit-transform:translateY(0px);}
	50%{-webkit-transform:translateY(-3px);} 
	60%{-webkit-transform:translateY(-6px);} 
	80%{-webkit-transform:translateY(0px);} 
	90%{-webkit-transform:translateY(-1px);}
	100%{-webkit-transform:translateY(0px);} 
}
.entry-title:hover{ -webkit-animation:envelope_top .7s linear .2s; } 

/*时间*/
.entry-meta 
.entry-meta a {
  color: #9E9CFF;
}

/*首页文章时间轴*/
#post-index article {
	padding-top: 20px !important;
}

#post #ds-thread,
#page #ds-thread {
  padding: 10px 15px;
  margin: 40px 2px 20px 2px;
  background-color: #ffffff;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  box-shadow: 0 0 0 1px rgba(187, 187, 187, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 48em) {
  #post #ds-thread,
  #page #ds-thread {
    padding: 20px 30px;
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media only screen and (min-width: 62.5em) {
  #post #ds-thread,
  #page #ds-thread {
    max-width: 800px;
    padding: 50px 80px;
    margin: 0 auto 30px auto;
  }
}

/*搜索样式*/
.search-wrapper .search-results li {
	color: #1C1C1C;
	list-style-type:none;
	font-size: 2.0em;
}
.search-wrapper .search-results li :hover {
    color: #FF810D;
}
.search-wrapper input {
	width: 50%;
	height: 2.5em;
	border-radius:6px;
	border:1px solid #909090;
	box-sizing: border-box;
	margin: .1em;
	padding: .5em;  
	cursor: pointer;
}
.search-wrapper ::-webkit-input-placeholder { /* WebKit browsers */
	font-style:italic;
}
.search-wrapper :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	font-style:italic;
}
.search-wrapper ::-moz-placeholder { /* Mozilla Firefox 19+ */
	font-style:italic;
}
.search-wrapper :focus {
  outline: 0;
  border-color: #19e;
}

.search-wrapper .entry-date
{
	color: #bbb;
	font-size: 0.6em;
	margin-left: 0.5em;
	font-style:italic;
}
